<h3>Bauliche Veränderungen durch den Mieter</h3>

<p class="mv-p-num">1. Bauliche Änderungen jeglicher Art, insbesondere Eingriffe in die bauseitige Ausstattung von Elektro, Heizung, Lüftung und Sanitär, die der Mieter durchzuführen beabsichtigt, bedürfen der vorherigen Zustimmung des Vermieters. Dies gilt insbesondere für die Aufstellung und Inbetriebnahme von Feuerungsanlagen. Notwendige Genehmigungen der zuständigen Stellen (Baubehörde, Schornsteinfeger usw.) hat der Mieter auf seine Kosten einzuholen und dem Vermieter unaufgefordert 14 Tage vor Baubeginn in Kopie einzureichen.</p>

<p class="mv-p-num">2. Die Kosten derartiger Veränderungen trägt der Mieter. Sollte es im Rahmen von Instandsetzungs-/Instandhaltungs- und/oder Modernisierungsmaßnahmen seitens des Vermieters notwendig werden oder Behinderungen durch Ein- oder Umbauten auftreten oder die Funktion der Einbauten überflüssig werden, erklärt sich der Mieter bereit, den ursprünglichen Zustand binnen sechs Wochen nach der Aufforderung durch den Vermieter auf eigene Kosten wiederherzustellen. Erhöhte Instandhaltungskosten am Eigentum des Vermieters, die durch die Änderungen des Mieters entstehen, gehen zu Lasten des Mieters.</p>

<p class="mv-p-num">3. Der Mieter haftet auch für die Schäden, die dem Vermieter im Zusammenhang mit derartigen Veränderungen entstehen oder die eine Folge derartiger Veränderungen sind.</p>

<p class="mv-p-num">4. Bauliche Änderungen, die der Mieter ohne Zustimmung des Vermieters durchführt oder durchgeführt hat, sind nach Aufforderung durch den Vermieter zu entfernen und der ursprüngliche Zustand wiederherzustellen. Kommt der Mieter der Aufforderung zur Entfernung nicht nach, so hat der Vermieter das Recht, den ursprünglichen Zustand auf Kosten des Mieters wiederherzustellen.</p>

<p class="mv-p-num">5. Hat der Mieter die Mietsache mit einer Einrichtung versehen, so kann der Vermieter die Ausübung des Wegnahmerechts des Mieters gemäß § 539 Abs. 2 BGB durch Zahlung einer angemessenen Entschädigung abwenden, wenn nicht der Mieter ein berechtigtes Interesse an der Wegnahme hat. Sollte der Vermieter die Einrichtung nicht übernehmen wollen, hat der Mieter diese auf seine Kosten zu entfernen und den ursprünglichen Zustand der Mietsache wiederherzustellen.</p>

<p class="mv-p-num">6. Das Anbringen, Aufstellen und die Benutzung von Außenantennen und/oder Satellitenschüsseln bedarf der vorherigen Zustimmung des Vermieters. Diese Zustimmung kann von der Stellung einer Sicherheitsleistung für den Rückbau abhängig gemacht werden. Für den Fall, dass vom Vermieter eine Gemeinschaftsantenne errichtet oder ein Anschluss an das Kabelfernsehnetz vorgenommen wird, verpflichtet sich der Mieter, seine Außenantenne und/oder Satellitenschüssel auf seine Kosten zu entfernen und evtl. Schäden am Gebäude auf seine Kosten zu beseitigen.</p>

<p class="mv-p-num">7. Das Anbringen von Funkantennen ist nicht gestattet.</p>

<h3>Bauliche Veränderungen durch den Vermieter</h3>

<p class="mv-p-num">1. Der Mieter hat Maßnahmen zu dulden, die zur Erhaltung der Mietsache erforderlich sind. Der Mieter hat die in Betracht kommenden Räume und Raumteile zugänglich zu halten und darf die Ausführung der Arbeiten nicht behindern, andernfalls hat er den dadurch entstehenden Schaden zu ersetzen.</p>

<p class="mv-p-num">2. Die Sammelheizung und Warmwasserversorgung kann der Vermieter auf andere Heizstoffe umstellen oder z.B. an die Fernheizung anschließen lassen. Öfen und Herde darf er gegen solche anderer Betriebsart auswechseln.</p>

<h3>Gewährleistung</h3>

<p class="mv-p-num">1. Soweit Mängel der Mietsache bei Vertragsschluss vorhanden waren und vom Vermieter nicht arglistig verschwiegen wurden, ist die verschuldensunabhängige Haftung des Vermieters gemäß § 536a BGB ausgeschlossen.</p>

<p class="mv-p-num">2. Schadens- und Aufwendungsersatzansprüche des Mieters gemäß § 536a BGB sind im Übrigen auch dann ausgeschlossen, soweit der Vermieter weder vorsätzlich noch grob fahrlässig handelte und er die Mängel nicht arglistig verschwiegen hat.</p>

<p class="mv-p-num">3. Für sonstige Schadenersatzansprüche, die nicht im Zusammenhang mit Mängeln der Mietsache stehen, haftet der Vermieter nur bei Vorsatz oder grober Fahrlässigkeit.</p>

<p class="mv-p-num">4. Der Haftungsausschluss nach Ziffern 2. und 3. gilt nur für solche Ansprüche, die nicht auf einer Verletzung des Lebens, des Körpers oder der Gesundheit oder auf einer Verletzung einer Kardinalpflicht beruhen. Kardinalpflichten sind diejenigen wesentlichen Pflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrags überhaupt erst ermöglichen und auf deren Einhaltung der Mieter deshalb vertraut und vertrauen darf.</p>

<p class="mv-p mv-indent">Im Fall eines Vermieterwechsels haftet der alte Vermieter nicht für den von dem neuen Vermieter zu ersetzendem Schaden. Ein Anspruch des Mieters gemäß § 566 Absatz 2 BGB ist insoweit ausgeschlossen.</p>

<h3>Betreten der Mieträume</h3>

<p class="mv-p-num">1. Bei Vorlage eines sachlichen Grundes hat der Mieter dem Vermieter und/oder seinem Beauftragten die Besichtigung zu der Mietsache zu ermöglichen. Unter Angabe des Grundes der Besichtigung ist der Termin zu vereinbaren oder mit einer Frist von mindestens einer Woche anzukündigen. Er wird werktäglich in der Zeit von 8:00 bis 19:00 Uhr stattfinden.</p>

<p class="mv-p-num">2. Im Fall der Kündigung des Mietverhältnisses hat der Mieter dafür zu sorgen, dass Mietinteressenten die Wohnung nach Terminvereinbarung werktags in der Zeit zwischen 8:00 und 20:00 Uhr und sonntags von 10:00 bis 12:00 Uhr besichtigen können.</p>

<p class="mv-p-num">3. Bei Gefahr oder im Schadensfall ist dem Vermieter und/oder seinem Beauftragten das Betreten der Mieträume zu jeder Zeit und ohne Ankündigung gestattet.</p>
