<p class="mv-p-num">1. Sofern die Mietsache in renoviertem Zustand übergeben worden ist, übernimmt der Mieter auf seine Kosten die laufenden — turnusmäßig wiederkehrenden — Schönheitsreparaturen.</p>

<p class="mv-p-num">2. Die Schönheitsreparaturen umfassen das Tapezieren, Anstreichen der Wände und Decken, das Streichen der Fußböden einschließlich Leisten, der Heizkörper und Heizrohre, der Innentüren sowie der Fenster und Außentüren von innen. Naturlasiertes Holzwerk und Kunststoffrahmen dürfen nicht mit Deckfarbe überstrichen werden. Alle Schönheitsreparaturen sind fachgerecht auszuführen.</p>

<p class="mv-p-num">3. Die Schönheitsreparaturen sind, gerechnet vom Beginn des Mietverhältnisses an bzw. von der letzten fachgerechten Durchführung an, im Allgemeinen in den nachstehenden Zeitabständen fällig — soweit nicht nach dem Grad der Abnutzung eine zeitlich andere Ausführung erforderlich ist:</p>

<p class="mv-p mv-indent"><strong>I. Wände und Decken:</strong> in Küchen, Baderäumen und Duschen alle 5 Jahre, in Wohn- und Schlafräumen, Fluren, Dielen und Toiletten alle 8 Jahre, in sonstigen Nebenräumen alle 10 Jahre.</p>

<p class="mv-p mv-indent"><strong>II. Fußböden einschließlich Leisten, Heizkörper</strong> und Heizrohre, Innentüren, Fenster, Außentüren von innen: alle 10 Jahre.</p>

<p class="mv-p mv-indent">Diese Dekorationsintervalle können sich im Einzelfall aufgrund eines vom Üblichen abweichenden Wohnverhaltens des Mieters verkürzen, etwa, wenn in der Wohnung stark geraucht wird oder weil kleine Kinder oder freilaufende Tiere verstärkt Gebrauchsspuren verursachen. Andererseits können sich diese Dekorationsintervalle verlängern, z.B. weil der Mieter häufig ortsabwesend ist oder die Wohnung nicht ständig als Lebensmittelpunkt nutzt.</p>

<p class="mv-p mv-indent">Dem Mieter bleibt der Nachweis offen, dass die Mietsache (noch) nicht renovierungsbedürftig ist. Dem Vermieter bleibt der Nachweis offen, dass bei einem entsprechenden Renovierungsbedarf im Einzelfall kürzere Renovierungsintervalle angemessen sind.</p>

<p class="mv-p-num">4. Ist der Mieter mit der Durchführung der Schönheitsreparaturen nach Maßgabe der Ziffer 3 in Verzug, verlangt der Vermieter, dass der Mieter die Schönheitsreparaturen durchführt bzw. durchführen lässt. Danach lehnt er das Leistungsangebot des Mieters ab. Nach Ablauf der Frist kann er vom Mieter Schadenersatz wegen Nichterfüllung verlangen.</p>

<p class="mv-p mv-indent">Bei Rückgabe der Wohnung am Ende des Mietverhältnisses müssen die Wände und Decken in neutralen, deckenden, hellen Farben gestrichen oder tapeziert sein. Die Arbeiten sind fachgerecht auszuführen.</p>

<p class="mv-p-num">5. Soweit die Wohnung in unrenoviertem Zustand übergeben worden ist, ist der Vermieter nicht verpflichtet, laufende Schönheitsreparaturen durchzuführen oder auf seine Kosten durchführen zu lassen. Außerordentliche Reparaturmaßnahmen (z.B. durch Wasserschaden) bleiben davon unberührt soweit der Mieter diese nicht zu vertreten hat.</p>

<p class="mv-p mv-indent">Auch soweit die Wohnung renovierungsbedürftig ist, erkennt der Mieter diese im vorhandenen Zustand als vertragsgerecht an.</p>
