<p class="mv-p-num">1. Der Vermieter ist gemäß der Trinkwasserverordnung (TrinkwV) verpflichtet, die Trinkwasserinstallation regelmäßig auf Legionellen untersuchen zu lassen. Die Untersuchung erfolgt mindestens alle drei Jahre durch ein akkreditiertes Labor.</p>

<p class="mv-p-num">2. Die Kosten der Legionellenprüfung sind als Betriebskosten gemäß § 2 Nr. 17 BetrKV auf den Mieter umlagefähig.</p>

<p class="mv-p-num">3. Der Mieter ist verpflichtet, den Vermieter unverzüglich zu informieren, wenn Auffälligkeiten in der Wasserversorgung (z.B. Verfärbung, ungewöhnlicher Geruch, ungewöhnliche Temperatur) festgestellt werden.</p>

<p class="mv-p-num">4. Bei einer Überschreitung der technischen Maßnahmenwerte ist der Vermieter verpflichtet, unverzüglich Maßnahmen zur Gefahrenabwehr einzuleiten und den Mieter hierüber zu informieren.</p>
